################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoogleWebStorage/FileContentIndex/03a1ca2c-218e-4654-a1bd-8d53bc15301b.vsidx
